/* You can add global styles to this file, and also import other style files */
/* Reseta as margens padrões do navegador */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}


/* Regra extra de segurança para todos os elementos calcularem tamanho corretamente */
* {
  box-sizing: border-box;
}