<div class="login-container">
        <div class="login-card">       

        <!-- Lado Esquerdo: Imagem do Veículo -->
        <div class="login-image-section">
            <!-- Verifique se o nome do arquivo bate com a imagem da Ranger que veio no zip -->
            <img src="/img/ranger.png" alt="Veícula Ford" class="car-image">
        </div>
                
        <!-- Lado Direito: Formulário -->
        <div class="login-form-section">
            <div class="brand-logo">
                <img src="/img/ford.png" alt="Ford Logo" class="logo">
            </div>

            <h2>Boas-vindas</h2>
            <form action="">
                <div class="input-group">
                    <input 
                    type="text"
                    placeholder="Insira seu email"
                    required
                    >
                </div>
                <div class="input-group">
                    <input 
                    type="password"
                    placeholder="Insira sua senha"
                    required
                    >
                </div>

                <!--Logar automaticamente
                <div class="form-options">
                        <label class="checkbox-container">
                            <input type="checkbox" name="autoLogin">
                            <span class="checkmark"></span>
                            Logar automaticamente
                    </label>
                </div>-->
                <button type="submit" class="btn-submit">Entrar</button>
            </form>
        </div>
    </div>
</div>
    



