  <header class="home-header">    

    <div class="logo-area">
      <img src="/img/icon-menu.svg" alt="Ford Logo" class="icon-menu" (click)="openMenu()">
    </div>    

    <div class="logout-area">
      <!-- Passo 5: Item de logout que chama a função de sair -->
      <button routerLink="/Login" class="btn-logout" (click)="executarLogout()"><img src="/img/icon-logout.svg" alt="Finalizar sessão"></button>
    </div>
  </header>
  <aside>
      <div class="side-bar">
        <div class="images">
            <img src="/img/ford.png" alt="">
            <img src="/img/icon-close.svg" alt="Ford Logo" class="icon-menu" (click)="closeMenu()">
        </div>
        <p class="back-home" (click)="outMenu()">Home</p>
        <p routerLink="/Dashboard">Dashboard</p>
      </div>
  </aside>

