
<header class="cabecalho-dashboard">
    <div><img src="/img/icon-menu.svg" alt="Ford Logo" class="icon-menu" (click)="openMenu()"></div>
    <div><h1 class="dashboard-title">Dashboard FORD</h1></div>
    <button routerLink="/Login" class="btn-logout" (click)="executarLogout()"><img src="/img/icon-logout.svg" alt="Finalizar sessão"></button>
</header>
<div class="side-bar">
      <div class="images">
          <img src="/img/ford.png" alt="">
          <img src="/img/icon-close.svg" alt="Ford Logo" class="icon-close" (click)="closeMenu()">
      </div>
      <p routerLink="/Home" class="back-home">Home</p>
      <p routerLink="/Dashboard">Dashboard</p>
    </div>
<main>
  <!-- 1. BLOCO SUPERIOR: Campo de Seleção e os 3 Cartões de Informação -->

  <section class="top-section">
    
    <!-- Cartão 1: Seleção do Modelo (Passo 8) -->
    <div class="card card-select">
      <label for="modelSelect">Modelo do Veículo:</label>
      <select id="modelSelect">

        <!-- Opções fixas apenas para você ver o visual no navegador -->
        <option value="ranger">{{vehicles.vehicle}}</option>
        <option value="mustang">Ford Mustang</option>
        <option value="bronco">Ford Bronco Sport</option>
        <option value="territory">Ford Territory</option>
        
      </select>
    </div>

    <!-- Cartão 2: Total de Vendas (Passo 9) -->
    <div class="card data-card border-blue">
      <span class="card-label">Total de Vendas</span>
      <h2 class="card-value">1.500</h2> <!-- Dado fixo para teste -->
    </div>

    <!-- Cartão 3: Veículos Conectados (Passo 9) -->
    <div class="card data-card border-green">
      <span class="card-label">Conectados à Ford</span>
      <h2 class="card-value">{{vehicles.connected}}</h2> <!-- Dado fixo para teste -->
    </div>

    <!-- Cartão 4: Software Atualizado (Passo 9) -->
    <div class="card data-card border-cyan">
      <span class="card-label">Software Atualizado</span>
      <h2 class="card-value">{{vehicles.softwareUpdates}}</h2> <!-- Dado fixo para teste -->
    </div>
    </section>

    <!-- BLOCO CENTRAL: Imagem de carro -->
    <section class="center-section">
    <div class="image-container">
      <img src="/img/ranger.png" alt="Veículo em Destaque" class="vehicle-display-img">
      
    </div>
  </section>
  <section class="bottom-section">
    <div class="table-card">
      <div class="table-container">
        <table>

          <thead>
            <tr>
              <th>Código - Vin</th>
              <th>Odômetro</th>
              <th>Nível de combustivel</th>
              <th>Status</th>
              <th>Lat.</th>
              <th>Long.</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>  
                <div class="table-search-box"><input id="cod-vin" type="text" placeholder="Buscar codigo Vin"></div>
              </td>
              <td>50000km</td>
              <td>90%</td>
              <td>on</td>
              <td>-1222242</td>
              <td>-35222443</td>
            </tr>
          </tbody>

        </table>
      </div>

    </div>
  </section>

</main>
