<app-cabecalho></app-cabecalho>
<main>

  <!-- 1. BLOCO SUPERIOR: Campo de Seleção e os 3 Cartões de Informação -->
  <section class="top-section">

    <div class="card card-select">
      <label>
        <span>Modelo do veículo:</span>
        <select id="modelSelect" *ngIf="carros && carros.length > 0" (change)="aoSelecionarCarro($event)">
          <option value="">Selecionar modelo</option>

            <option *ngFor="let carro of carros" [value]="carro.id">
              {{carro.vehicle}}
            </option>
        </select>
      </label>

    
    </div>

    <div class="card data-card border-blue">
      <span class="card-label">Total de Vendas</span>
      <h2 class="card-value">{{carroSelecionado?.volumetotal}}</h2> 
    </div>

    <div class="card data-card border-green">
      <span class="card-label">Conectados à Ford</span>
      <h2 class="card-value">{{carroSelecionado?.connected}}</h2> 
    </div>

    <div class="card data-card border-cyan">
      <span class="card-label">Software Atualizado</span>
      <h2 class="card-value">{{carroSelecionado?.softwareUpdates}}</h2> 
    </div>
    </section>

    <!-- BLOCO CENTRAL: Imagem de carro -->
    <section class="center-section">
    <div class="image-container">
      <img [src]="carroSelecionado?.img || '/img/ford.png'" alt="Veículo selecionado em destaque" class="vehicle-display-img">
      
    </div>
  </section>
  <section class="bottom-section">
    <div class="table-card">
      <div class="table-container">
        <table>

          <thead>
            <tr>
              <th>Código - Vin</th>
              <th>Odômetro</th>
              <th>Nível de combustivel</th>
              <th>Status</th>
              <th>Lat.</th>
              <th>Long.</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td data-label="Codigo Vin">  
                <div class="table-search-box">
                  <input id="cod-vin" type="text" placeholder="Buscar codigo Vin" (input)="aoDigitarVin($event)">
                </div>
              </td>
              <td data-label="Odômetro">{{ dadosTelemetria ? dadosTelemetria.odometro + ' Km' : '0 Km' }}</td>
              <td data-label="Nível de combustivel">{{ dadosTelemetria ? dadosTelemetria.nivelCombustivel + '%' : '0%' }}</td>
              <td data-label="Status">{{ dadosTelemetria?.status ?? 'Desconectado' }}</td>
              <td data-label="Lat.">{{ dadosTelemetria?.lat ?? '0.0000' }}</td>
              <td data-label="Long.">{{ dadosTelemetria?.long ?? '0.0000' }}</td>
          </tbody>

        </table>
      </div>

    </div>
  </section>

</main>
